{% extends 'idff.html' %}
{% block style %}
<style>
    #ri{
        text-align: center; 
        font-size: 50px;
    }
    #r{
        width: 30px;
        height: 30px; 
    }
    #c{
        width: 30px;
        height: 30px; 
    }
    #d{
        width: 30px;
        height: 30px; 
    }
    #m1{
        width: 50px; 
        height: 30px;
    }
    #m2{
        width: 90px;
        height: 30px;
    }
</style>
{% endblock  %}
{% block content %}
<form method="POST" action="./ddda" enctype="multipart/form-data">
    <div id="ri">
    <label>サイズ</label><br>
    <input type="radio" id="r" value="S" name="サイズ" >S<br>
    <input type="radio" id="r" value="M" name="サイズ" >M<br>
    <input type="radio" id="r" value="L" name="サイズ" >L<br>
    <input type="radio" id="r" value="XL" name="サイズ" >XL<br>
    <input type="radio" id="r" value="XXL" name="サイズ" >XXL<br>
    <input type="radio" id="r" value="XXXL" name="サイズ" >XXXL<br><br>
    </div>
    <div  id="ri">
    <label>カラー</label><br>
    <input type="radio" id="c" value="ホワイト" name="カラー" >ホワイト<br>
    <input type="radio" id="c" value="ブラック" name="カラー" >ブラック<br>
    <input type="radio" id="c" value="アッシュ" name="カラー" >アッシュ<br>
    <input type="radio" id="c" value="ミックスグレー" name="カラー" >ミックスグレー<br>
    <input type="radio" id="c" value="ダークブラウン" name="カラー" >ダークブラウン<br>
    <input type="radio" id="c" value="オレンジ" name="カラー" >オレンジ<br>
    <input type="radio" id="c" value="レッド" name="カラー" >レッド<br>
    <input type="radio" id="c" value="ロイヤルブルー" name="カラー" >ロイヤルブルー<br>
    <input type="radio" id="c" value="ネイビー" name="カラー" >ネイビー<br>
    <input type="radio" id="c" value="ライトピンク" name="カラー" >ライトピンク<br>
    <input type="radio" id="c" value="アイビーグリーン" name="カラー" >アイビーグリーン<br>
    <input type="radio" id="c" value="ライトオリーブ" name="カラー" >ライトオリーブ<br>
    <input type="radio" id="c" value="ブレージンイエロー" name="カラー" >ブレージンイエロー<br><br>
    </div>
    <div id="ri">
    <label>デザインの自前か依頼</label><br>
    <input type="radio" id="d" value="自前" name="デザイン" >自前<br>
    <input type="radio" id="d" value="依頼" name="デザイン" >依頼<br><br>
    </div>
    <div id="ri">
    <label>デザイン位置</label><br>
    <input type="radio" id="d" value="ワンポイント" name="デザイン位置" >ワンポイント<br>
    <input type="radio" id="d" value="全体" name="デザイン位置" >全体<br>
    <input type="radio" id="d" value="２か所以上" name="デザイン位置" >２か所以上<br><br>
    </div>
    <div id="ri">
    <label>枚数</label><br>
    <input type="number" name="q" max="100" min="1" value="1" step="1"><br><br>
    <input type="submit" id="m1" value="確定" >
    <input type="reset" id="m2" value="リセット">
    </div>
</form>
{% endblock  %}