<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    {% endblock  %}
    <style>
        .mk{
            background-color:seagreen;    
        }
        #llo{
            text-align: center;
            font-size: 50px;
            color: blue;
            text-decoration: underline;
        }
        #mm{
            text-align: center;
            font-size: 50px; 
        }
    </style>
</head>
<body class="mk">
    <h1><div id="mm">{{ message }}<br>
        {{ tist }}</div></h1>
    <h1><div id="llo">
        <span id="llo">{{ tist2 }}</span></div></h1>
    {% block content %}
    {% endblock  %}
    <p>{{ tset7 }}</p>
</body>
</html>