{% extends 'idff.html' %}
{% block style %}
<style>
    #ri{
        text-align: center; 
        font-size: 50px;
        }
</style>
{% endblock  %}
{% block content %}
<label>ベースアイテム</label><br>
<div><a href="/TSYATU/tyas1/he.cgi" id="ri">Tシャツ①</div></a><br>
<div><a href="/TSYATU/tyas2/he2.cgi" id="ri">Tシャツ②</div></a><br>
<div><a href="/TSYATU/tyas3/he3.cgi" id="ri">Tシャツ③</div></a><br>
<div><a href="/TSYATU/tyas4/he4.cgi" id="ri">Tシャツ④</div></a><br>
<div><a href="/TSYATU/tyas5/he5.cgi" id="ri">ポロシャツ①</div></a><br>
<div><a href="/TSYATU/tyas6/he6.cgi" id="ri">ポロシャツ②</div></a><br>
<div><a href="/TSYATU/tyas7/he7.cgi" id="ri">ポロシャツ③</div></a><br>
<div><a href="/TSYATU/tyas8/he8.cgi" id="ri">ジャケット</div></a><br>
<div><a href="/TSYATU/tyas9/he9.cgi" id="ri">パーカー</div></a><br>
<div><a href="/TSYATU/tyas10/he10.cgi" id="ri">エプロン</div></a><br>
<div><a href="/TSYATU/tysa11a/he11a.cgi" id="ri">トートバックa</div></a><br>
<div><a href="/TSYATU/tysa11b/he11b.cgi" id="ri">トートバックb</div></a><br>
{% endblock  %}